	</div><!-- container -->
	<span class="add-new" title="Add New Post">
		<a href="/campgrounds/new"><i class="fa fa-plus"></i></a>
	</span>
	<footer class="footer">
		<div class="footer-content">
			<span class="text-muted">&copy; Infinity 2020 </span>|  <a href="/campgrounds">Home</a> |  <a href="/campgrounds/new">New Campground</a>
		</div>
	</footer>

	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
	// get current URL path and assign 'active' class
			var pathname = window.location.pathname;
			console.log(pathname);
			$('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
		});
	</script>
</body>
</html>