<%- include("partials/header") %>
<div class="row" style="">
	<div class="col-sm-12" style="min-height:84.6vh">
		<h1 class="about-us-heading">About Us</h1>		
		<div class="hr"></div>
		<section class="about-us">
			<em>A place where you can share the beautiful pictures of the places you went.</em>
			<p>	
				WeCamp, is an open source blogging website, where you can add, edit, comment and give reviews to the other people posts.
				You can share your thoughts and the beautiful pictures.
			</p>
			<div class="about-us-image">	
				<img src="https://ak5.picdn.net/shutterstock/videos/29543215/thumb/1.jpg" class="img-responsive">
				<p><em>Created By: Infinity</em></p>
			</div>	
		</section>
	</div>
	
</div>



<%- include("partials/footer") %>