<!DOCTYPE html>
<html>
<head>
	<title>WeCamp | Landing</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async></script>
</head>
<body>
	<div class="container">
		<% if(error && error.length > 0){ %>
			<div class="alert alert-danger">
				<%= error %>
			</div>
		<% }%>
		<% if(success && success.length > 0){ %>
			<div class="alert alert-success">
				<%= success %>
			</div>
		<% }%>
	</div>
	<div id="landing-header">
		<h1>Welcome to WeCamp!</h1>
		<a href="/campgrounds" class="btn btn-lg btn-primary">View All Campgrounds</a>
		<p>
		<form  action ="/campgrounds" method="GET" class="form-inline">
			<div class="form-group">
				<input type="text" name="search" placeholder="Campground search..." class="form-control">
				<input type="submit" value="Search" class="btn btn-default">
			</div>
		</form>
	</p>
	</div>

	<ul class="slideshow">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

<%- include ('partials/footer') %>