footer
{
	z-index:3;
	padding:10px 0;
	position: absolute;
	text-align:center;
	width:100%;
	height: 40px;
	bottom:0;
	background: #6cf;
	background:rgb(51,51,51);
}
.footer .text-muted
{

}
.footer-content
{
	z-index: 5;
}