body
{
	background-color: #eee;
}
h1, h2, h3
{
	font-weight: bold;
}
a:hover
{
	text-decoration: none;
}
.fa.fa-ellipsis-v
{
	font-size:2rem;
}
.fa.fa-ellipsis-v:hover
{
	color:#fff;
}

.jumbotron
{
	box-shadow:5px 5px 15px rgba(0,0,0,0.2);
}
.thumbnail
{
	padding:0;
	background:#eaeaea;
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	border-radius:10px;
	overflow:hidden;
}
.thumbnail img
{
	width:100%;	
}
.campground-item
{
	box-shadow:5px 5px 5px rgba(0,0,0,0.6);
	transition:0.5s;
}
.campground-item img
{
	min-height:50%;
}
.campground-item:hover
{
	transform:scale(1.1);
	box-shadow:5px 5px 15px rgba(0,0,0,0.3);
}
@media(max-width:992px)
{
	.campground-item img
	{
		min-height:0;
	}
}
.caption
{
	background:#eaeaea;
	border-radius:10px;
}
.well
{
	box-shadow:5px 5px 5px rgba(0,0,0,0.2);
	background:#eaeaea;
	border-radius:10px;
}
.comment-row
{
	padding:5px;
}
.pull-right.e-d-btn
{
	position: relative;
	float:right;
	top:-28px;
}
.delete-form
{
	display: inline;
}
.form
{
	width:30%;
	margin: 25px auto;
}
.form-horizontal
{
	width:50%;
	margin:25px auto;
}
.checked
{
	color:orange;
}
@media(max-width:768px)
{
	.form
	{
		width:50%;
	}
}

div > .btn-back
{
	margin-top:10px;
}
.btn-back:hover
{	
	background-color: #337ab7;
	color:#fff;
}


#collapseComment .well,
.collapseEdit .well
{
	border-left:5px solid #00c851;
}

.pagination
{
	margin-top:2em;
}

.follow
{
	margin-top:2em;
}

.btn-follow
{
	background:#57d1f5;
}
.dropdown-menu .divider
{
	    margin: 3px 0;
}
.notifications
{
	padding:3vw;
	background:#eaeaea;
	border-radius:10px;
	min-height: 90vh;
}
@media(max-width: 768px)
{
	.notifications
	{
		padding: 3vw;

	}
	.notifications h1
	{
		text-align:center;
	}
}
@media(min-width:768px)
{
	.campground-items
	{
		display: grid;
	}
}
.profile-page
{
	padding:3vw;
	background:#eaeaea;
	border-radius:10px;
	/*min-height: 90vh;*/
}
